.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
    text-align: center;
    opacity: 0.5;
    flex-grow: 1;
    flex-basis: 0;
}

.game-container {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.result {
    z-index: 1000;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 30%;
    position: absolute;
    border-radius: 10px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    background-color: var(--foreground-color);
    /* text-transform: uppercase; */
}

.backlobby {
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid rgb(88, 110, 124, 0.);
    background-color: rgba(104, 162, 198, 0.1);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    /* margin: 10px; */
    z-index: 300;
 
    &:hover {
     transform: scale(1.1);
   }
 }

 .exit {
    position: fixed;
    top: 10px; 
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .exit:hover {
    transform: scale(1.1);
  }


