.Login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox{
  width: 350px;
  margin: 8rem;
  height: 300px;
  background-color: aqua;
  display: flex;
  padding: 20px;
  border-radius: 6px;

}

.LoginHeader{
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
}

.LoginInput{
  padding: 20px;
}

.email{
  width: 100%;
  border-radius: 6;
  height: 40px;
  margin-bottom: 20px;
}

.password{
  width: 100%;
  border-radius: 6;
  height: 40px;
}

.LoginButton{
width: 100px;
height: 30px;
background-color: black;
border-radius: 6px;
color: white;
font-style: italic;
}

.LoginButton:hover{
  background-color: blue;
  color: black;
}