body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-image-component {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.text {
  margin-right: 10px; /* İsteğe bağlı: Metin ve resim arasına boşluk ekler */
  margin-left: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* İstediğiniz boyutu burada belirleyebilirsiniz */
  height: 100px; /* İstediğiniz boyutu burada belirleyebilirsiniz */
}

.image {
  border-radius: 50px;
}

.image2{
  max-width:10%;
  max-height: 10%;
}